body {
  display:flex; flex-direction:column; justify-content:center;
  min-height:100vh;
  background-image: radial-gradient(#ae4920, #eeba83);
background-image: radial-gradient(circle at top right, #ae4920, #eeba83);
}
.container{
    width: 100%;
    max-width: 300px;  
    border-radius: 3px;
    background-color: antiquewhite;
    border: #faebd7 10px solid;
    margin: auto;

}

.forgot-password{
    text-decoration: none;
    color: #9b004e;
    font-weight: 700;
    text-align: left;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.forgot-password:hover{
    color: #b80099;
}
.text{
    
    color: #595358;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.sign-in-h6{
    font-size: 16px;
    font-weight: 700;
    color: #1e0c1b;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
.sign-in-button{
    background: #291927;
    width: 100%;
    border: none;
    padding: 10px 18px;
    height: 36px;
    font-size: 12px;
    border-radius: 6px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}
.sign-in-button:disabled {
    cursor: default;
    opacity: .5;
    pointer-events: none;
}
.signin-field{
    border-color: 1px solid #595358;
    background-color: white;
    padding: 12px 9px;
    border-radius: 6px;
    color: #1e0c1b;
    width: 282px;
    line-height: 1.5;
     border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline:none ;
    border-radius:3px ;
    
}

